.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header div:nth-child(2) * {
  padding: 8px 10px;
}

.header div:nth-child(2) p {
  font-weight: 700;
}

.header button {
  font-weight: 700;
}
